@import "../../style/variables.scss";

.data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: $indent-big;

  @media (max-width: 1023px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .playerInput,
  .playerDiv,
  .conditions {
    width: 30%;

    @media (max-width: 1023px) {
      margin-bottom: $indent-med;
      width: 60%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .list {
    padding: $indent-small/2;
    min-height: 300px;
    height: auto;
    width: 100%;
    outline: none;
    border-radius: $indent-small/2;
    font-size: 16px;
    resize: none;
    overflow: auto;
    line-height: 2;
    color: $color-light;
    background-color: transparent;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;

    @media (max-width: 1023px) {
      min-height: 100px;
    }

    &:focus {
      border-color: #fff;
    }
  }

  .player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: $indent-small/2;
    margin-bottom: $indent-small/2;
    text-transform: capitalize;
    border-radius: $indent-small/2;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    background-color: $bgrd-dark;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: $color-mark;
      color: $color-dark;
    }

    &:active {
      background-color: $color-light;
      color: $color-dark;
    }

    &.disabledPlayer {
      background-color: $color-gray;
      color: $color-dark;
      cursor: auto;

      &:hover {
        background-color: $color-gray;
        color: $color-dark;
      }
    }

    &.errorPlayer {
      border-color: red;
    }

    .basket {
      margin-right: 5px;
      font-weight: bold;
    }
    .basket1 {
      color: red;
    }
    .basket2 {
      color: green;
    }
    .basket3 {
      color: blue;
    }
    .basket4 {
      color: saddlebrown;
    }
  }

  .conditions {
    font-size: 14px;

    @media (max-width: 1023px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  .playersCondition,
  .teamCondition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    @media (max-width: 1023px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .conditions_count {
    margin-left: 5px;
    padding: 1px;
    max-width: 40px;
    outline: none;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: $color-mark;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;

    &:focus {
      border-color: #fff;
    }
  }

  .countInputsSm {
    display: none;
    
    @media (max-width: 1023px) {
      display: block;
    }
  }
  .countInputsLg {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  .randomToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #a9a9a9;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:hover {
      border: 1px solid $color-light;
    }
    &:active {
      border: 1px solid $color-gray;
    }

    .checked {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $color-mark;
    }
  }

  .divideBtn {
    width: 100%;

    &:disabled {
      cursor: initial;
      background-color: $color-gray;
      color: $color-light;
    }
  }

  .errors {
    margin-bottom: 5px;
    padding-top: $indent-small;
    line-height: 1;
    min-height: $indent-big;
    text-align: center;
    font-size: 14px;
    // font-family: "Courier New", Courier, monospace;
    color: red;
  }
}
