.data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3em;
}

@media (max-width: 1023px) {
  .data-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.data-content .list,
.data-content .playerDiv,
.data-content .conditions {
  width: 30%;
}

@media (max-width: 1023px) {
  .data-content .list,
  .data-content .playerDiv,
  .data-content .conditions {
    margin-bottom: 2em;
    width: 60%;
  }
}

@media (max-width: 767px) {
  .data-content .list,
  .data-content .playerDiv,
  .data-content .conditions {
    width: 100%;
  }
}

.data-content .list {
  padding: 0.5em;
  min-height: 300px;
  outline: none;
  border-radius: 0.5em;
  font-size: 16px;
  resize: none;
  overflow: auto;
  line-height: 2;
  color: #E9E9E9;
  background-color: transparent;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.data-content .list:focus {
  border-color: #fff;
}

.data-content .player {
  padding: 0.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  border-radius: 0.5em;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background-color: rgba(0, 16, 63, 0.7);
  border: 1px solid transparent;
  cursor: pointer;
}

.data-content .player:hover {
  background-color: #E9E9E9;
  color: #00103f;
}

.data-content .player.leage4Player {
  background-color: lightsalmon;
}

.data-content .player.subsPlayer {
  background-color: #808080;
  color: #00103f;
  cursor: auto;
}

.data-content .player.subsPlayer:hover {
  background-color: #808080;
  color: #00103f;
}

.data-content .player.repeated {
  border-color: red;
}

.data-content .conditions {
  font-size: 14px;
}

@media (max-width: 1023px) {
  .data-content .conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.data-content .playersCondition,
.data-content .teamCondition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media (max-width: 1023px) {
  .data-content .playersCondition,
  .data-content .teamCondition {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.data-content .conditions_count {
  margin-left: 5px;
  padding: 1px;
  max-width: 40px;
  outline: none;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: #4EB1BA;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.data-content .conditions_count:focus {
  border-color: #fff;
}

.data-content .randomToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #a9a9a9;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.data-content .randomToggle:hover {
  border: 1px solid #E9E9E9;
}

.data-content .randomToggle:active {
  border: 1px solid #808080;
}

.data-content .randomToggle .checked {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #4EB1BA;
}

.data-content .divideBtn {
  width: 100%;
}
/*# sourceMappingURL=DrawData.css.map */