@import "../../style/variables.scss";

.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: $indent-big;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  .newTeam {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;

    @media (max-width: 1199px) {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
    }

    @media (max-width: 991px) {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
    }

    @media (max-width: 767px) {
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
    }

    @media (max-width: 575px) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }

  .teamName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    padding: $indent-small/2;
    margin-bottom: $indent-small/2;
    border-radius: $indent-small/2;
    border: 1px solid transparent;
    font-family: "Champions-Bold", sans-serif;
    text-transform: uppercase;
  }

  .teamRed {
    background: red;
  }

  .teamOrange {
    background: orange;
    color: $color-dark;
  }

  .teamBlue {
    background: blue;
  }

  .teamGreen {
    background: green;
  }

  .teamGreenYellow {
    background: greenyellow;
    color: $color-dark;
  }

  .teamBlack {
    background: black;
  }

  .teamWhite {
    background: white;
    color: $color-dark;
  }

  .basicTeam {
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:hover {
      border: 1px solid $color-light;
    }
    &:active {
      border: 1px solid $color-gray;
    }
  }

  .newPlayer {
    white-space: nowrap;
    padding: $indent-small/2;
    margin-bottom: $indent-small/2;
    border-radius: $indent-small/2;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    background-color: $bgrd-dark;
  }
}
